@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Screen Timer</h1>
    <p class="lead">Help yourself and check how much time did you spent behind desktop screen</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Today</h2>
        <p>Graphs comming soon.</p>
    </div>
    <div class="col-md-4">
        <h2>This week</h2>
        <p>Graphs comming soon.</p>
    </div>
    <div class="col-md-4">
        <h2>This month</h2>
        <p>Graphs comming soon.</p>
    </div>
</div>